.header_logo{
    max-width: 55px;
    max-height: auto;

}
.header_navbar .nav-link{
    font-weight: bold;
    color: white;
    transition: all 0.2s ease-in-out;

    &:hover{
        color: cyan;
        transition: all 0.2s ease-in-out;
    }
}