.home_wrapper{
    
    background: url(../assets/home/car_background.avif) no-repeat center center fixed;
    background-size: cover;
}
.home_text{
    color: white;
}
.home_text h1{
    background-color: transparent;
    font-size: 2.5rem;
    text-align: start;
    line-height: 3rem;
}
.home_text p{
    font-size: 1rem;
    text-align: start;
    line-height: 2rem;
    margin-top: 1rem;
}