*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
}
 /* Custom Scrollbar */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color:#000000;
}

::-webkit-scrollbar-thumb{
    background-color: cyan;
}
.btn_cyan{
    font-weight: bold;
    background-color: cyan;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn_cyan:hover {
    background-color: rgba(0, 255, 255, 0.536);
    transition: all 0.3s ease-in-out;
}
.btn_white{
    font-weight: bold;
    background-color: white;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn_white:hover {
    background-color: rgba(255, 255, 255, 0.536);
    transition: all 0.3s ease-in-out;
}